
name: Build APK

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  repository_dispatch:
    types: [build_apk]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'

    - name: Make gradlew executable
      run: chmod +x gradlew

    - name: Install Android SDK
      uses: android-actions/setup-android@v2
      with:
        api-level: 30
        build-tools: '30.0.3'

    - name: Build with Gradle
      run: ./gradlew build --info --stacktrace
      env:
        JAVA_HOME: ${{ steps.setup-java.outputs.path }}
      continue-on-error: true

    - name: Upload APK
      if: success()
      uses: actions/upload-artifact@v3
      with:
        name: apk
        path: .github/workflows

    - name: Print Gradle Build Logs
      if: failure()
      run: cat /home/runner/work/_temp/_runner_file_*/gradle_output.txt || echo 'No Gradle output log found'

    - name: Print Build Directory
      if: failure()
      run: ls -la app/build/outputs/apk/release

    - name: Fail the build on error
      if: failure()
      run: exit 1